{% extends 'layout/app-layout.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
<h1>Check my Doctor <i class="fas fa-user-md"></i></h1><br>

<p>Welcome to Check my Doctor App! We are dedicated to providing a seamless experience for both doctors and patients.</p>
<h2>Our Mission</h2>
<p>Our mission is to revolutionize the way healthcare is accessed and delivered. We aim to make it easier for patients to connect with doctors and receive quality medical care.</p>
<h2>What We Offer</h2>
<p>Our Doctor App offers a range of features to simplify the healthcare process:</p>
<ul>
    <li>Easy appointment scheduling</li>
    <li>Access to doctor profiles and specialties</li>
    <li>Secure messaging for communication between doctors and patients</li>
    <li>Real-time updates on appointment availability</li>
    <li>And much more!</li>
</ul>
<h2>Our Team</h2>
<p>We are a dedicated team of developers, designers, and healthcare professionals working together to improve the healthcare experience for everyone.</p>
<h2>Contact Us</h2>
<p>If you have any questions or feedback, please don't hesitate to contact us at <a href= "mailto:gokulkr792@gmail.com">gokulkr792@gmail.com</a>. We'd love to hear from you!</p>
</div>
{% endblock %}
